@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

html,
body {
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
#root {
    min-height: 100%;
}
